<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PROJECT SENTIMENT ANALYSIS</title>
</head>
<body>
	<center>
		<h1>
			Welcome HOME
		</h1>
		<h2>
			Select Input Method:
		</h2>
		<ul style="list-style: none">
			<li><a href="Image">Image</a></li>
			<li><a href="Video">Video</a></li>
			<li><a href="Text">Text</a></li>
		</ul>
	</center>
	<footer>
		This Project was Made by Akshat Jain
		<br>
		Connect with me on <a href="https://www.linkedin.com/in/hzakshat/" >LinkedIn</a>
		<br>
		View this project's source on <a href="https://github.com/HorizonAks/sentiment-analysis">GitHub</a>
	</footer>
</body>
</html>